# Sensitive data
cfg/auth.json

# Embedded data
pkg/fontytelemetry/assets.go

# Build artifacts
gin-bin
dist

# Runtime caches
cache

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode configuration
.vscode
